{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Sign up</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href='{% static "css/style.css" %}'>

</head>
<body>
<!-- partial:index.partial.html -->
<div class="container" >
	<div id="login-box" >
		<div class="logo">
			<img src='{% static "ima/logo_small_icon_only_inverted.png" %}' class="img img-responsive img-circle center-block"/>
			<h1 class="logo-caption"><span class="tweak">S</span>ign up</h1>
		</div><!-- /.logo -->
        <form class="form-inline " method="post" style="margin: auto; width: 600px; color:#b1c900" action="">
            {% csrf_token%}
            {{ form }}
            <p></p>
            <input type="submit" class="btn btn-outline-success my-4 my-sm-0 " style=" margin:auto;width: 25%; margin-left : 4vw;color:black"type="submit " value="Registrar">

        </form>
    </div>
</div>
<div id="particles-js"></div>
<!-- partial -->
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css'></script>
<script src='https://code.jquery.com/jquery-1.11.1.min.js'></script><script  src='{% static "js/script.js" %}'></script>

</body>
</html>
