{% extends 'base.html' %} {% block title %}Home {% endblock %} {% block content %}
    <table style="border: hidden">
	<tr>
      <th style="height: 550px;">
          <div class="layout has-sidebar fixed-sidebar fixed-header">
              <aside id="sidebar" class="sidebar break-point-lg has-bg-image">
                  <div class="image-wrapper">
                      <img src="https://user-images.githubusercontent.com/25878302/144499035-2911184c-76d3-4611-86e7-bc4e8ff84ff5.jpg"
                           alt="sidebar background"/>
                  </div>
                  <div class="sidebar-layout">
                      <div class="sidebar-content">
                          <nav class="menu open-current-submenu">
                              <ul>
                                  <li class="menu-item">
                                      <a href="{% url 'Home' %}">
                                          <span class="menu-icon">
                                              <i class="fa fa-home"></i>
                                          </span>
                                          <span class="menu-title">Musica</span>
                                      </a>
                                      {% for li in lista %}
                                          <a href="#">
                                              <span class="menu-icon">
                                                  <i class="fa fa-bars"></i>
                                              </span>
                                              <span class="menu-title">{{ li }}</span>
                                          </a>
                                      {% endfor %}
                                      <a href="#">
                                              <span class="menu-icon">
                                                  <i class="fa fa-plus"></i>
                                              </span>
                                              <span class="menu-title">Nueva lista</span>
                                          </a>
                                  </li>
                              </ul>
                          </nav>
                      </div>
                  </div>
              </aside>
          </div>
      </th>
        <th style="height:0px;width:1400px ;text-align: center;vertical-align:text-top;">
            <h1>Hola {{ user }}</h1>
            <table class="table table-striped table-dark">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col">Cancion</th>
                    <th scope="col">Artista</th>
                    <th scope="col">Album</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>

                {%for musica in musica%}
                    <tr>
                        <th scope="row"></th>
                        <td>
                            <button type="button" class="btn btn-outline-primary">
                                <span class="menu-icon">
                                    <i class="fa fa-play"></i>
                                </span>
                            </button>
                        </td>
                        <td>{{musica.nombre}}</td>
                        <td>{{musica.autor}}</td>
                        <td>{{musica.album}}</td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    ...
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Agregar a playlist</a></li>
                                    <li><a class="dropdown-item" href="#">Descarcar</a></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                {%endfor%}
                </tbody>
            </table>
        </th>
    </tr>
    </table>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <div class="controles">
                <button type="button" class="btn btn-outline-primary">
                    <span class="menu-icon">
                        <i class="fa fa-random"></i>
                    </span>
                </button>
                <button type="button" class="btn btn-outline-primary">
                    <span class="menu-icon">
                        <i class="fa fa-angle-left"></i>
                    </span>
            </button>
                <button type="button" class="btn btn-outline-primary">
                    <span class="menu-icon">
                        <i class="fa fa-play"></i>
                    </span>
                </button>
                <button type="button" class="btn btn-outline-primary">
                    <span class="menu-icon">
                        <i class="fa fa-angle-right"></i>
                    </span>
                </button>
                <button type="button" class="btn btn-outline-primary">
                    <span class="menu-icon">
                        <i class="fa fa-repeat"></i>
                    </span>
                </button>
            </div>
            <div class="musica">
                <input type="range" max="1" min="0" step="0.1" class="volumen">
            </div>
        </div>

    </nav>
{%endblock%}